---

---

<div>
  <h1>Home</h1>
  <p>Esto es un párrafo</p>
</div>

<style>
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: auto;
    width: 80%;
    padding-top: 5rem; /* igual a la altura de tu NavBar */
    padding-bottom: 5rem; /* ajusta según la altura de tu Footer */
    box-sizing: border-box;
    border-radius: 30px;

    /*  ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
    margin: 0 auto;
    /* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */
  }
</style>
